:root {
    --code-theme-background: #f3f3f3;
    --code-theme-comment: #6e8090;
    --code-theme-function: #dd4a68;
    --code-theme-keyword: #07a;
    --code-theme-operator: #a67f59;
    --code-theme-punctuation: #999;
    --code-theme-selector: #690;
    --code-theme-tag: #905;
    --code-theme-text: #333;
    --code-theme-variable: #e90;
    --notice-important-border-color: hsl(340, 90%, 45%);
    --notice-tip-border-color: hsl(204, 90%, 45%);
    --notice-important-before-background: var(--notice-important-border-color) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M10 14C10 15.1 9.1 16 8 16 6.9 16 6 15.1 6 14 6 12.9 6.9 12 8 12 9.1 12 10 12.9 10 14Z'/%3E%3Cpath d='M10 1.6C10 1.2 9.8 0.9 9.6 0.7 9.2 0.3 8.6 0 8 0 7.4 0 6.8 0.2 6.5 0.6 6.2 0.9 6 1.2 6 1.6 6 1.7 6 1.8 6 1.9L6.8 9.6C6.9 9.9 7 10.1 7.2 10.2 7.4 10.4 7.7 10.5 8 10.5 8.3 10.5 8.6 10.4 8.8 10.3 9 10.1 9.1 9.9 9.2 9.6L10 1.9C10 1.8 10 1.7 10 1.6Z'/%3E%3C/svg%3E") center / 0.875em no-repeat;
    --notice-tip-before-background: var(--notice-tip-border-color) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3E%3Cpath d='M9.1 0C10.2 0 10.7 0.7 10.7 1.6 10.7 2.6 9.8 3.6 8.6 3.6 7.6 3.6 7 3 7 2 7 1.1 7.7 0 9.1 0Z'/%3E%3Cpath d='M5.8 16C5 16 4.4 15.5 5 13.2L5.9 9.1C6.1 8.5 6.1 8.2 5.9 8.2 5.7 8.2 4.6 8.6 3.9 9.1L3.5 8.4C5.6 6.6 7.9 5.6 8.9 5.6 9.8 5.6 9.9 6.6 9.5 8.2L8.4 12.5C8.2 13.2 8.3 13.5 8.5 13.5 8.7 13.5 9.6 13.2 10.4 12.5L10.9 13.2C8.9 15.2 6.7 16 5.8 16Z'/%3E%3C/svg%3E") center / 0.875em no-repeat;
    --notice-border-width: 0 0 0 4px;
    --notice-padding: 1em 1.5em 1em 3em;
    --notice-border-width: 0 0 0 4px;
    --notice-border-style: solid;
    --border-radius-m: 4px;
    --notice-border-radius: 0 var(--border-radius-m) var(--border-radius-m) 0;
    --mono-hue: 113;
    --mono-saturation: 0%;
    --mono-tint3: hsl(var(--mono-hue), var(--mono-saturation), 97%);
    --notice-background: var(--mono-tint3);
    --notice-font-weight: normal;
    --notice-before-position: absolute;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #191818;
}

.sidebar {
    color: #5c6372;
    background-color: #333;
}

.sidebar ul li a {
    color: #edb82b;
}

.sidebar li > p {
    color: #edb82b
}

.sidebar > h1 a {
    color: #edb82b;
}

.anchor span {
    color: #edb82b;
}

.markdown-section p.tip,
.markdown-section p.warn {
    position: relative;
    margin: 2em 0;
    padding: var(--notice-padding);
    border-width: var(--notice-border-width, 0);
    border-style: var(--notice-border-style);
    border-color: var(--notice-border-color);
    border-radius: var(--notice-border-radius);
    background: var(--notice-background);
    font-family: var(--notice-font-family);
    font-weight: var(--notice-font-weight);
    color: var(--notice-color)
}

.markdown-section p.tip:before,
.markdown-section p.warn:before {
    display: inline-block;
    position: var(--notice-before-position, relative);
    top: var(--notice-before-top);
    left: var(--notice-before-left);
    height: var(--notice-before-height);
    width: var(--notice-before-width);
    margin: var(--notice-before-margin);
    padding: var(--notice-before-padding);
    border-radius: var(--notice-before-border-radius);
    line-height: var(--notice-before-line-height);
    font-family: var(--notice-before-font-family);
    font-size: var(--notice-before-font-size);
    font-weight: var(--notice-before-font-weight);
    text-align: center
}

.markdown-section p .tip {
    border-width: var(--notice-important-border-width, var(--notice-border-width, 0));
    border-style: var(--notice-important-border-style, var(--notice-border-style));
    border-color: var(--notice-important-border-color, var(--notice-border-color));
    background: var(--notice-important-background, var(--notice-background));
    color: var(--notice-important-color, var(--notice-color))
}

.markdown-section .tip:before {
    content: var(--notice-important-before-content, var(--notice-before-content));
    background: var(--notice-important-before-background, var(--notice-before-background));
    color: var(--notice-important-before-color, var(--notice-before-color))
}

.markdown-section .warn {
    border-width: var(--notice-tip-border-width, var(--notice-border-width, 0));
    border-style: var(--notice-tip-border-style, var(--notice-border-style));
    border-color: var(--notice-tip-border-color, var(--notice-border-color));
    background: var(--notice-tip-background, var(--notice-background));
    color: var(--notice-tip-color, var(--notice-color))
}

.markdown-section .warn:before {
    content: var(--notice-tip-before-content, var(--notice-before-content));
    background: var(--notice-tip-before-background, var(--notice-before-background));
    color: var(--notice-tip-before-color, var(--notice-before-color))
}

